force-app/main/default/flows/Athlete_Registration_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Process_Payment</name>
        <label>Process Payment</label>
        <locationX>2316</locationX>
        <locationY>4034</locationY>
        <actionName>PayInvoiceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Payment_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Amount</name>
            <value>
                <elementReference>payFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoPay</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BillingCity</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BillingState</name>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BillingStreet</name>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BillingZip</name>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>creditCardFee</name>
            <value>
                <elementReference>creditCardSurchargeFeeFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>creditCardLabel</name>
            <value>
                <elementReference>creditCargeSurchargeLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CreditCardNumber</name>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CreditCardType</name>
            <value>
                <elementReference>Type_of_Card</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExpiryMonth</name>
            <value>
                <elementReference>Expiration_Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExpiryYear</name>
            <value>
                <elementReference>Expiration_Year</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>Get_Updated_Registration.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surchargeIsServiceFee</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>PayInvoiceInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Emai_lRequest_for_Webcode</name>
        <label>Send Emai lRequest for Webcode</label>
        <locationX>2785</locationX>
        <locationY>7334</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>todd@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Request for Webcode</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>requestWebcodeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Airfare_to_Table</name>
        <label>Add Airfare to Table</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>tableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>airfareAddToTableTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCostVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Airfare_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Package_to_Table</name>
        <label>Add Package to Table</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>tableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>packageAddtoTableTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCostVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductTable.firstSelectedRow.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RGP_to_Table</name>
        <label>Add RGP to Table</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>tableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RGPaddToTableTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_RGP_to_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RGP_to_Total_Var</name>
        <label>Add RGP to Total Var</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>totalCostVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RGPamountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Shirt_to_Table</name>
        <label>Add Shirt to Table</label>
        <locationX>1106</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>tableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shirtAddToTableTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCostVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Count</name>
        <label>Add to Count</label>
        <locationX>710</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>countVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug</name>
        <label>Assign Debug</label>
        <locationX>2030</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pay In Full: {!payFullMinus2Percent}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First Installment: {!firstInstallmentVar}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_Payment.PaymentResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugTextVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Installment</name>
        <label>Assign First Installment</label>
        <locationX>2178</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>firstInstallmentVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleInstallmentVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installment_Count</name>
        <label>Assign Installment Count</label>
        <locationX>2310</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>installmentCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Payment_Plan_Table_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Count</name>
        <label>Assign Payment Count</label>
        <locationX>2316</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>paymentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_is_Successful</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Plan_Count</name>
        <label>Assign Payment Plan Count</label>
        <locationX>2090</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>numberOfInstallments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Plan_Installments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Installments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Plan_Table_Rows</name>
        <label>Assign Payment Plan Table Rows</label>
        <locationX>2310</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>installmentTableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InstallmentRowFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Installment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Registration_Values</name>
        <label>Assign Registration Values</label>
        <locationX>2547</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>registrationRecordvar.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.School_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Birth_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Webcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Parent_Guardian_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.State_Providence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012f4000000BvJkAAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.RGP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purchase_RGP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Shirt_Size_25__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shirt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Airfare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Airfare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Room_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>roomTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentSelection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Phase_2_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationRecordvar.Sport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Webcode_Opp.SportName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webcode_Boolean</name>
        <label>Assign Webcode Boolean</label>
        <locationX>2177</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>webcodeBooleanVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PersonalInformationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_installment_Table</name>
        <label>Close installment Table</label>
        <locationX>2090</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>installmentTableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>endOfInstallmentTableVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Payment_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table</name>
        <label>Close Table</label>
        <locationX>2090</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>tableVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>endOfTableVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_with_Payment_Plan</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>bankACHchoice</name>
        <choiceText>Bank(ACH)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank(ACH)</stringValue>
        </value>
    </choices>
    <choices>
        <name>creditCardChoice</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>payInFullChoice</name>
        <choiceText>&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Cost to Pay In Full Today:&lt;/strong&gt;&lt;p&gt;{!payInFullTable}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>payInInstallmentsChoice</name>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Installment Plan Schedule:&lt;/strong&gt;&lt;p&gt;{!installmentBooleanFormula}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installments</stringValue>
        </value>
    </choices>
    <choices>
        <name>X01Choice</name>
        <choiceText>01</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02Choice</name>
        <choiceText>02</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03Choice</name>
        <choiceText>03</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03</stringValue>
        </value>
    </choices>
    <choices>
        <name>X04Choice</name>
        <choiceText>04</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>04</stringValue>
        </value>
    </choices>
    <choices>
        <name>X05Choice</name>
        <choiceText>05</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>05</stringValue>
        </value>
    </choices>
    <choices>
        <name>X06Choice</name>
        <choiceText>06</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>06</stringValue>
        </value>
    </choices>
    <choices>
        <name>X07Choice</name>
        <choiceText>07</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07</stringValue>
        </value>
    </choices>
    <choices>
        <name>X08Choice</name>
        <choiceText>08</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08</stringValue>
        </value>
    </choices>
    <choices>
        <name>X09Choice</name>
        <choiceText>09</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10Choice</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11Choice</name>
        <choiceText>11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12Choice</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2023Choice</name>
        <choiceText>2023</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2024Choice</name>
        <choiceText>2024</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2025Choice</name>
        <choiceText>2025</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2026Choice</name>
        <choiceText>2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>26</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2027Choice</name>
        <choiceText>2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>27</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2028Choice</name>
        <choiceText>2028</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>28</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2029Choice</name>
        <choiceText>2029</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>29</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2030Choice</name>
        <choiceText>2030</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2031Choice</name>
        <choiceText>2031</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>31</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2032Choice</name>
        <choiceText>2032</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>32</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2033Choice</name>
        <choiceText>2033</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>33</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_RGP_to_Total</name>
        <label>Add RGP to Total?</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purchase_RGP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agree to Purchase (RGP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RGP_to_Total_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Me</name>
        <label>Contact Me?</label>
        <locationX>2547</locationX>
        <locationY>6590</locationY>
        <defaultConnector>
            <targetReference>NoWebcodeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Me_for_Support</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Decision</name>
        <label>Count Decision</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_The_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Package_to_Table</targetReference>
            </connector>
            <label>1 Package</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RGP_to_Table</targetReference>
            </connector>
            <label>2 RGP</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Airfare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Airfare_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Airfare_to_Table</targetReference>
            </connector>
            <label>3 Airfare</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shirt</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Shirt_to_Table</targetReference>
            </connector>
            <label>4 Shirt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_The_Count</name>
        <label>Decide The Count</label>
        <locationX>1400</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Close_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Over</defaultConnectorLabel>
        <rules>
            <name>Under</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countVar</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Count</targetReference>
            </connector>
            <label>Under</label>
        </rules>
    </decisions>
    <decisions>
        <name>DueDateLessTha60DaysAway</name>
        <label>Due Date Less Tha 60 Days Away</label>
        <locationX>2587</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Webcode_Opp_Remove_Payment_Restrictions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Less Than 60 Days</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Less_Tha_60_Days_Away</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Invoice_for_Payment_Restrictions.fw1__Due_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Webcode_Opp_Payment_Restrictions</targetReference>
            </connector>
            <label>Due Date Less Tha 60 Days Away</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Installment</name>
        <label>First Installment?</label>
        <locationX>2310</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Loop_Installments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installmentCountVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Installment</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Invoice_and_Price_is_Correct</name>
        <label>Found Invoice and Price is Correct?</label>
        <locationX>2547</locationX>
        <locationY>3818</locationY>
        <defaultConnector>
            <targetReference>Invoice_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.fw1__Total_Invoice_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>totalCostFormulaIFstatement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Payment_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opp_by_Webcode</name>
        <label>Found Opp by Webcode?</label>
        <locationX>2785</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>NoWebcodeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Webcode_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Webcode_Opp.Stop_Online_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Webcode_Boolean</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Stop_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Webcode_Opp.Stop_Online_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Closed</targetReference>
            </connector>
            <label>Stop Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Payment_Profile</name>
        <label>Found Payment Profile</label>
        <locationX>2030</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Profile.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Profile</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_products_for_Packages</name>
        <label>Found products for Packages?</label>
        <locationX>2177</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>NoWebcodeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Package_Selection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Webcode</name>
        <label>Found Webcode?</label>
        <locationX>2785</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Webcode_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Webcode2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_for_Payment_Restrictions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_for_Payment_Restrictions</targetReference>
            </connector>
            <label>Found Webcode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Exists</name>
        <label>Invoice Exists?</label>
        <locationX>2547</locationX>
        <locationY>5582</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Exists</name>
        <label>Opportunity Exists?</label>
        <locationX>2547</locationX>
        <locationY>5882</locationY>
        <defaultConnector>
            <targetReference>Registration_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Registration.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_is_Successful</name>
        <label>Payment is Successful?</label>
        <locationX>2316</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Invoice_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Payment.PaymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Debug</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Multiple_Attempts_to_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Payment.PaymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Failure_Screen</targetReference>
            </connector>
            <label>Multiple Attempts to</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Exists</name>
        <label>Registration Exists?</label>
        <locationX>2547</locationX>
        <locationY>6182</locationY>
        <defaultConnector>
            <targetReference>FailureScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Registration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Registration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>YouMustSelectPayInFulltoContinueDecision</name>
        <label>You Must Select Pay In Full to Continue Decision</label>
        <locationX>2090</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Assign_Registration_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>You_Must_Select_Pay_In_Full_to_Continue_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Webcode_Opp.Stop_Installment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentSelection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>payFullError</targetReference>
            </connector>
            <label>You Must Select Pay In Full to Continue Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>airfareChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Airfare__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cardTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Card_Type__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>paymentMethodChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RGPchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RGP__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shirtSizeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shirt_Size_25__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sportChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sport__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stateChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_Providence__c</picklistField>
        <picklistObject>Registrations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>autoPayIfStatement</name>
        <dataType>Boolean</dataType>
        <expression>IF({!autoPayCheck}=true, true, false)</expression>
    </formulas>
    <formulas>
        <name>creditCardSurchargeBooleanFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!paymentMethod}, &apos;Card&apos;)=true, true, false)</expression>
    </formulas>
    <formulas>
        <name>creditCardSurchargeFeeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(CONTAINS({!paymentMethod}, &apos;Card&apos;)=true, ({!netSurcharge}*(1.5/100)), null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>creditCargeSurchargeLabel</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!paymentMethod}, &apos;Card&apos;)=true, &apos;Credit Card Processing Fee&apos;, null)</expression>
    </formulas>
    <formulas>
        <name>emailBodyFormula</name>
        <dataType>String</dataType>
        <expression>IF({!webcodeBooleanVar}=false, &apos;The following individual is requesting a Webocde.&apos;, &apos;The following individual tried to register but no Package Products were found OR there was an issue generating the Invoice and Line Items for the Webcode entered.&apos;)</expression>
    </formulas>
    <formulas>
        <name>expirationCombinedFormula</name>
        <dataType>String</dataType>
        <expression>{!Expiration_Month}+&apos;/&apos;+RIGHT({!Expiration_Year}, 2)</expression>
    </formulas>
    <formulas>
        <name>installmentBooleanFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Webcode_Opp.Stop_Installment__c}=false, {!installmentTableVar}, &apos;Installments are no longer allowed for this trip. Please Pay In Full.&apos;)</expression>
    </formulas>
    <formulas>
        <name>InstallmentRowFormula</name>
        <dataType>String</dataType>
        <expression>IF({!installmentCountVar}=1, {!firstRowInstallmentTemplate}, {!installmentTableTemplate})</expression>
    </formulas>
    <formulas>
        <name>installmentsMinusOne</name>
        <dataType>Number</dataType>
        <expression>{!numberOfInstallments}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>leftOverInstallmentsFormula</name>
        <dataType>Currency</dataType>
        <expression>{!totalWithInstallmentFee}-{!firstInstallmentVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>netSurcharge</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Updated_Registration.Payment_Type__c})=&apos;Full&apos;, {!payFullMinus2Percent}, 
{!firstInstallmentVar})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>payFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Updated_Registration.Payment_Type__c})=&apos;Full&apos;, {!payFullMinus2Percent}+({!payFullMinus2Percent}*(1.5/100)), 
{!firstInstallmentVar}+({!firstInstallmentVar}*(1.5/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>payFullMinus2Percent</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Webcode_Opp.Stop_Pay_In_Full_Discount__c}=false, {!totalCostVar}-({!totalCostVar}*(2/100)), {!totalCostVar})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>payInFullTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Webcode_Opp.Stop_Pay_In_Full_Discount__c}=false, &apos;( 2% Discount! )&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>paymentInstallmentInstructionFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Webcode_Opp.CloseDate} &lt;= DATEVALUE(&apos;2001-01-01&apos;), &apos;Installments incur a 3% fee.&apos;, &apos;Your trip does not have an installment fee but you can receive a 2% discount for paying in Full today!&apos;)</expression>
    </formulas>
    <formulas>
        <name>postalCodeValidation</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Postal_Code})&lt;=6</expression>
    </formulas>
    <formulas>
        <name>RGP_IF_Formula</name>
        <dataType>Number</dataType>
        <expression>IF({!Purchase_RGP}=&apos;Agree to Purchase (RGP)&apos;, 1, 0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>RGPamountFormula</name>
        <dataType>Currency</dataType>
        <expression>FLOOR(({!ProductTable.firstSelectedRow.UnitPrice}*(1/10)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>roomTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!ProductTable.firstSelectedRow.fw1__ProductName__c}, &apos;Single&apos;)=true, &apos;Single&apos;, 
IF(CONTAINS({!ProductTable.firstSelectedRow.fw1__ProductName__c}, &apos;Double&apos;)=true, &apos;Double&apos;, 
IF(CONTAINS({!ProductTable.firstSelectedRow.fw1__ProductName__c}, &apos;Triple&apos;)=true, &apos;Triple&apos;, 
&apos;QUAD&apos;)))</expression>
    </formulas>
    <formulas>
        <name>SingleInstallmentVar</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Webcode_Opp.CloseDate} &gt;= DATEVALUE(&apos;2024-01-01&apos;), {!totalWithInstallmentFee}*({!Loop_Installments.fw1__Installment_Percentage__c}/100), {!totalCostVar}*({!Loop_Installments.fw1__Installment_Percentage__c}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>todayPlus60Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>totalCostFormulaIFstatement</name>
        <dataType>Currency</dataType>
        <expression>IF(CONTAINS({!PaymentSelection},&apos;Full&apos;)=true, {!payFullMinus2Percent}, {!totalWithInstallmentFee})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalWithInstallmentFee</name>
        <dataType>Currency</dataType>
        <expression>{!totalCostVar}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Athlete Registration Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Athlete Registration Screen Flow</label>
    <loops>
        <name>Loop_Installments</name>
        <label>Loop Installments</label>
        <locationX>2090</locationX>
        <locationY>2354</locationY>
        <collectionReference>Get_Plan_Installments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Installment_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_installment_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Registration</name>
        <label>Create Registration</label>
        <locationX>2547</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>Get_Updated_Registration</targetReference>
        </connector>
        <inputReference>registrationRecordvar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Invoice</name>
        <label>Delete Invoice</label>
        <locationX>2415</locationX>
        <locationY>5690</locationY>
        <connector>
            <targetReference>Opportunity_Exists</targetReference>
        </connector>
        <inputReference>Get_Invoice</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opp</name>
        <label>Delete Opp</label>
        <locationX>2415</locationX>
        <locationY>5990</locationY>
        <connector>
            <targetReference>Registration_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Registration.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Registration</name>
        <label>Delete Registration</label>
        <locationX>2415</locationX>
        <locationY>6290</locationY>
        <connector>
            <targetReference>FailureScreen</targetReference>
        </connector>
        <inputReference>Get_Updated_Registration</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Airfare_Product</name>
        <label>Get Airfare Product</label>
        <locationX>2177</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_products_for_Packages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Webcode_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Airfare</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>2547</locationX>
        <locationY>3710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Invoice_and_Price_is_Correct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Registration.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_for_Payment_Restrictions</name>
        <label>Get Invoice for Payment Restrictions</label>
        <locationX>2587</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DueDateLessTha60DaysAway</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_for_Payment_Restrictions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_with_Payment_Plan</name>
        <label>Get Invoice with Payment Plan</label>
        <locationX>2090</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan_Installments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Payment_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Webcode_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_for_Payment_Restrictions</name>
        <label>Get Opp for Payment Restrictions</label>
        <locationX>2785</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Webcode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KSA_Webcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Webcode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Profile</name>
        <label>Get Payment Profile</label>
        <locationX>2030</locationX>
        <locationY>4466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Payment_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__PaymentProfile__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Installments</name>
        <label>Get Plan Installments</label>
        <locationX>2090</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Payment_Plan_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Payment_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_with_Payment_Plan.fw1__Payment_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Plan_Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>2177</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Airfare_Product</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Webcode_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>fw1__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>UnitPrice</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Registration</name>
        <label>Get Updated Registration</label>
        <locationX>2547</locationX>
        <locationY>3602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>registrationRecordvar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registrations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Webcode_Opp</name>
        <label>Get Webcode Opp</label>
        <locationX>2785</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opp_by_Webcode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KSA_Webcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Webcode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>1898</locationX>
        <locationY>4790</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Auto_BillPay__c</field>
            <value>
                <elementReference>autoPayIfStatement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment_Profile__c</field>
            <value>
                <elementReference>Get_Payment_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>2030</locationX>
        <locationY>4982</locationY>
        <connector>
            <targetReference>Update_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.fw1__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Profile</name>
        <label>Update Payment Profile</label>
        <locationX>1898</locationX>
        <locationY>4682</locationY>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Account__c</field>
            <value>
                <elementReference>Get_Invoice.fw1__Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>Get_Invoice.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__PaymentProfile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registration</name>
        <label>Update Registration</label>
        <locationX>2030</locationX>
        <locationY>5090</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Registration.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>payFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVV__c</field>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Type__c</field>
            <value>
                <elementReference>Type_of_Card</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Number__c</field>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exp_Date__c</field>
            <value>
                <elementReference>expirationCombinedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDebug__c</field>
            <value>
                <elementReference>debugTextVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Success__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Number__c</field>
            <value>
                <elementReference>Routing_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_Would_You_Like_To_Share__c</field>
            <value>
                <elementReference>Any_Notes_for_the_KSA_Team</elementReference>
            </value>
        </inputAssignments>
        <object>Registrations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Webcode_Opp_Payment_Restrictions</name>
        <label>Update Webcode Opp Payment Restrictions</label>
        <locationX>2455</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Webcode_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_for_Payment_Restrictions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stop_Installment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Pay_In_Full_Discount__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Webcode_Opp_Remove_Payment_Restrictions</name>
        <label>Update Webcode Opp Remove Payment Restrictions</label>
        <locationX>2719</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Webcode_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_for_Payment_Restrictions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stop_Installment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Pay_In_Full_Discount__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Payment_Schedule</name>
        <label>Choose Payment Schedule</label>
        <locationX>2090</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>YouMustSelectPayInFulltoContinueDecision</targetReference>
        </connector>
        <fields>
            <name>selectPaymentDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 64, 255);&quot;&gt;Payment can pay in Installments or in full today. {!paymentInstallmentInstructionFormula} Please select your Payment Schedule.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 64, 255); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Refund Protection Guarantee(RGP) is 10% of the Room cost x the number of people in that room. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Payment_Schedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Payment_Schedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayLineItems</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 64, 255);&quot;&gt;Your Package Line Items:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!tableVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lineBreakDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;______________________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Payment_Schedule_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Payment_Schedule_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paymentMethod</name>
                    <choiceReferences>creditCardChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>creditCardChoice</defaultSelectedChoiceReference>
                    <fieldText>{!paymentMethodFieldLabelTemplate}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_Payment_Schedule_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Payment_Schedule_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentSelection</name>
                    <choiceReferences>payInFullChoice</choiceReferences>
                    <choiceReferences>payInInstallmentsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lineBreakDisplay2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;______________________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Payment_Schedule_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Payment_Schedule_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPaymentInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 64, 255);&quot;&gt;Once you Click &apos;Continue to Payment&apos;, you may no longer go &apos;Back&apos; and make changes. You must also be ready to make the selected payment at this time. If you are not ready, do not continue as this may cause issues with your Registration. If you understand and are ready to move forward with payment and registration, please check the box stating you understand before clicking &apos;Continue to Payment&apos;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_Payment_Schedule_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Payment_Schedule_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Payment_Schedule_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTerms</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!termsAndConditionsLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Ready_for_Payment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>{!readyForPaymentFieldLabelTemplate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(128, 3, 3);&quot;&gt;You must select &apos;Ready for Payment to Continue&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Ready_for_Payment}=true</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue to Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Payment_Information</name>
        <label>Enter Payment Information</label>
        <locationX>2316</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Payment</targetReference>
        </connector>
        <fields>
            <name>displayFullPayment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 64, 255); font-size: 18px;&quot;&gt;You have chosen to pay in Full. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 64, 255); font-size: 18px;&quot;&gt;Due Today: {!payFullMinus2Percent}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PaymentSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayInstallments</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;You have chosen to pay Installments. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;Due Today: {!firstInstallmentVar}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;You will be responsible for {!installmentsMinusOne} more payments totaling &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!leftOverInstallmentsFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!installmentTableVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PaymentSelection</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Credit Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Must be 16 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Credit_Card_Number})&lt;=16</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVV</name>
                    <dataType>String</dataType>
                    <fieldText>CVV</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Must be 4 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CVV})&lt;=4</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>paymentMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiration_Month</name>
                    <choiceReferences>X01Choice</choiceReferences>
                    <choiceReferences>X02Choice</choiceReferences>
                    <choiceReferences>X03Choice</choiceReferences>
                    <choiceReferences>X04Choice</choiceReferences>
                    <choiceReferences>X05Choice</choiceReferences>
                    <choiceReferences>X06Choice</choiceReferences>
                    <choiceReferences>X07Choice</choiceReferences>
                    <choiceReferences>X08Choice</choiceReferences>
                    <choiceReferences>X09Choice</choiceReferences>
                    <choiceReferences>X10Choice</choiceReferences>
                    <choiceReferences>X11Choice</choiceReferences>
                    <choiceReferences>X12Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Expiration Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiration_Year</name>
                    <choiceReferences>X2023Choice</choiceReferences>
                    <choiceReferences>X2024Choice</choiceReferences>
                    <choiceReferences>X2025Choice</choiceReferences>
                    <choiceReferences>X2026Choice</choiceReferences>
                    <choiceReferences>X2027Choice</choiceReferences>
                    <choiceReferences>X2028Choice</choiceReferences>
                    <choiceReferences>X2029Choice</choiceReferences>
                    <choiceReferences>X2030Choice</choiceReferences>
                    <choiceReferences>X2031Choice</choiceReferences>
                    <choiceReferences>X2032Choice</choiceReferences>
                    <choiceReferences>X2033Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Expiration Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Card</name>
                    <choiceReferences>cardTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Card</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>paymentMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Routing_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Routing Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>paymentMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Bank(ACH)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>autoPayCheck</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!autoPayTextTemplate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>paymentMethod</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Installments</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Payment_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Payment_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Any_Notes_for_the_KSA_Team</name>
                    <fieldText>Any Notes for the KSA Team?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Payment_Information_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FailureScreen</name>
        <label>FailureScreen</label>
        <locationX>2547</locationX>
        <locationY>6482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Me</targetReference>
        </connector>
        <fields>
            <name>failureDsiplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;There was a problem with your Registration. You may try again or request to be contacted for support. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FailureScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FailureScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FailureScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Me_for_Support</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Contact Me for Support</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FailureScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Start Over/Contact Me</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoWebcodeScreen</name>
        <label>NoWebcodeScreen</label>
        <locationX>2785</locationX>
        <locationY>7226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Send_Emai_lRequest_for_Webcode</targetReference>
        </connector>
        <fields>
            <name>noWebcodeDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DO9000007LRE5&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;You have not entered a valid Webcode or have not been provided one. To have one sent to you, enter your details and click &apos;Next&apos;, to re-enter the Webcode, click &apos;Back&apos;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webcodeBooleanVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>productErrorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;There was a problem locating available packages for the Webcode you entered. Please enter your contact information and somebody will reach out to resolve the issue. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webcodeBooleanVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoWebcodeScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NoWebcodeScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Send</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Send</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>School_Name_Send</name>
                    <dataType>String</dataType>
                    <fieldText>School Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NoWebcodeScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Send</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email_Send</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sport_Send</name>
                    <choiceReferences>sportChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sport</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Package_Selection</name>
        <label>Package Selection</label>
        <locationX>1400</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Decide_The_Count</targetReference>
        </connector>
        <fields>
            <name>ProductTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Room/Package:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;fw1__ProductName__c&quot;,&quot;guid&quot;:&quot;column-13ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Package/Room Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ProductName&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-fed6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Package_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Package_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Package_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Airfare</name>
                    <choiceReferences>airfareChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!airfareFieldLabelTemplate}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Airfare_Product.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Shirt</name>
                    <choiceReferences>shirtSizeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!shirtFieldLabelTemplate}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suite</name>
                    <choiceReferences>airfareChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>{!suiteFieldLabelTemplate}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Package_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>rpgHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 64, 255);&quot;&gt;Refund Protection Guarantee&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RGPdisplay</name>
            <fieldText>&lt;h5 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 64, 255);&quot;&gt;Refund Guarantee Protection (RGP) is an additional cost per person of 10% of your Land Package. Should a passenger need to cancel their reservation for any reason up to 120 hours prior to your scheduled departure, RGP ensures a full refund of all monies paid less the cost of this option, airfare, and any NSF/Late Fees. The cost of RGP will be reduced from your payment prior to a refund being issued. RGP must be accepted or declined at the time of booking and must be a unanimous decision by each passenger occupying the room. Should you choose to not accept RGP the above stated cancellation policy is rendered inapplicable with no exceptions given. To reiterate, RGP does not cover refunds towards airfare. If you choose to Decline the Refund Guarantee Protection (RGP), please change the selection below:&lt;/span&gt;&lt;/h5&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Package_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Package_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchase_RGP</name>
                    <choiceReferences>RGPchoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!purchaseRGpfieldLbaelTemplate}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Package_Selection_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Select Package</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>payFullError</name>
        <label>payFullError</label>
        <locationX>1634</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Payment_Schedule</targetReference>
        </connector>
        <fields>
            <name>displayChooseFullError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;____________________________________________________________________&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;You Hae passed 60 Days until the Due Date. Installments are no longer available. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;____________________________________________________________________&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Failure_Screen</name>
        <label>Payment Failure Screen</label>
        <locationX>2338</locationX>
        <locationY>4358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Enter_Payment_Information</targetReference>
        </connector>
        <fields>
            <name>displayPaymentFailure</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Your payment of {!payFormula} was not able to be processed. You may only try 3 total attempts, then must start the registration process over.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>paymentErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Payment Error: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Process_Payment.ErrorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Payment Error Code: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Process_Payment.ErrorCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Payment Error Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Process_Payment.ErrorType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Payment Result: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Process_Payment.PaymentResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PersonalInformationScreen</name>
        <label>PersonalInformationScreen</label>
        <locationX>2177</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <fields>
            <name>PersonalInformationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PersonalInformationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PersonalInformationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySchoolWebcode</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 64, 255);&quot;&gt;&lt;u&gt;You have entered the Webcode for the following:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;School: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!Get_Webcode_Opp.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(64, 0, 255);&quot;&gt;Sport/Art: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!Get_Webcode_Opp.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255); background-color: rgb(255, 255, 255);&quot;&gt;Arrival Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Webcode_Opp.Arrival_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;Departure Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!Get_Webcode_Opp.Departure_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;If this is not correct, go Back and re-enter your webcode. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;If you need additional help or would like to be contacted by our team, select the checkbox at the bottom of the page and click &apos;Next&apos;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PersonalInformationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Athlete_Information</name>
            <fieldText>Athlete Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Athlete_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>School_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Webcode_Opp.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>School Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <choiceReferences>stateChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Athlete_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Parent_Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Parent/Guardian Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Postal Code must be 6 characters or less.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!postalCodeValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Closed</name>
        <label>Registration Closed</label>
        <locationX>3130</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NoWebcodeScreen</targetReference>
        </connector>
        <fields>
            <name>displayEndRegistration</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DO9000007LRE5&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;______________________________________________________________&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;The Registration for this Event has been closed out. You are not able to register online for this event. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;______________________________________________________________&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>FInish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>2030</locationX>
        <locationY>5198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DO9000007LRE5&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;You have successfully registered {!First_Name} {!Last_Name} for the upcoming {!Get_Updated_Registration.Opportunity__r.KSASport_or_Performing_Art__c} tournament with {!Get_Updated_Registration.Opportunity__r.Account.Name}. You will receive an email confirmation and invoice. Thank you!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WebcodeScreen</name>
        <label>WebcodeScreen</label>
        <locationX>2785</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opp_for_Payment_Restrictions</targetReference>
        </connector>
        <fields>
            <name>displayWebcode</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DO9000007LRE5&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;Do you have a Webcode for this trip? If so, please place it in the field below and remember it is case-sensitive. If not, simply click next. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WebcodeScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WebcodeScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WebcodeScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Webcode</name>
                    <dataType>String</dataType>
                    <fieldText>Webcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WebcodeScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2659</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WebcodeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>airfareAddToTableTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: left; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;Airfare&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;1.0&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: right; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;${!Get_Airfare_Product.UnitPrice}.00&lt;/td&gt;
     &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>airfareFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Purchase Airfare for ${!Get_Airfare_Product.UnitPrice}?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>autoPayTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 64, 255);&quot;&gt;Would you like to Enroll in Auto Pay for your remaining Installments?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>firstRowInstallmentTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1; font-weight: bold;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #214CBF; text-align: left; padding: 15px; font-size: 16px; color: #000;&quot;&gt;Due Today&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #214CBF; border-radius: 0 10px 10px 0; text-align: right; padding: 15px; font-size: 16px; color: #000;&quot;&gt;{!SingleInstallmentVar}&lt;/td&gt;
  &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>installmentTableTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #214CBF; text-align: left; padding: 15px; font-size: 16px; color: #000;&quot;&gt;{!Loop_Installments.fw1__Installment_Date__c}&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #214CBF; border-radius: 0 10px 10px 0; text-align: right; padding: 15px; font-size: 16px; color: #000;&quot;&gt;{!SingleInstallmentVar}&lt;/td&gt;
  &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>packageAddtoTableTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: left; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;{!ProductTable.firstSelectedRow.fw1__ProductName__c}&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;1.0&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: right; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;${!ProductTable.firstSelectedRow.UnitPrice}.00&lt;/td&gt;
   
  &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>payInFullTable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;width: 100%; border-collapse: collapse; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 10px; font-family: &apos;Arial&apos;, sans-serif;&quot;&gt;
  &lt;tr style=&quot;background-color: #214CBF; color: #fff;&quot;&gt;
    &lt;th style=&quot;border: 2px solid #214CBF; text-align: center; padding: 5px; font-size: 16px;&quot;&gt;Pay In Full Today{!payInFullTextFormula}&lt;/th&gt;
    &lt;th style=&quot;border: 2px solid #214CBF; border-radius: 0 0 10px 0; text-align: center; padding: 15px; font-weight: bold; font-size: 16px;&quot;&gt;{!payFullMinus2Percent}&lt;/th&gt;
  &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>paymentMethodFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Select Your Payment Method&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>purchaseRGpfieldLbaelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Purchase RGP for 10% of your Selected Package?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>readyForPaymentFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;I Have Read the Terms and Conditions and Ready to Make Payment&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>requestWebcodeBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!emailBodyFormula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;First Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!First_Name_Send}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Last Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Last_Name_Send}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!School_Name_Send}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sport:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Sport_Send}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Phone: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Phone_Send.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Email:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Email_Send.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Webcode Entered: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Webcode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RGPaddToTableTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: left; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;Refund Protection Guarantee (RGP)&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;{!RGP_IF_Formula}&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: right; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;{!RGPamountFormula}&lt;/td&gt;
     &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>selectPaymentScheduleLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 64, 255); font-size: 16px;&quot;&gt;&lt;u&gt;Select Your Payment Schedule&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>shirtAddToTableTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #ecf0f1;&quot;&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: left; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;{!Shirt}&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;1.0&lt;/td&gt;
    &lt;td style=&quot;border: 2px solid #0090ff; text-align: right; padding: 15px; font-size: 16px; background-color: #ecf0f1;&quot;&gt;$25.00&lt;/td&gt;
     &lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>shirtFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Purchase Shirt for $25.00?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>suiteFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Would you like a Suite for an additional cost? If You select &apos;Yes&apos; and one is available, we will contact you with details. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tableFieldLabelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Select your Package/Room Type:&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>termsAndConditionsLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table style=&quot;border-collapse: separate !important;&quot; border=&quot;0&quot; width=&quot;300&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;background-color:#1500FF;color:#FFFFFF;font-size:20px;padding:10px 10px;border-radius:8px;font-family:Arial, Helvetica, sans-serif;text-align:center;border:solid 6px #FF0000;&quot;&gt;&lt;a style=&quot;color:#FFFFFF;text-decoration:none;&quot; href=&quot;https://ksaevents.net/terms-and-conditions/&quot;&gt;Terms &amp;amp; Conditions&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>countVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>debugTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endOfInstallmentTableVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr style=&quot;background-color: #214CBF; color: #fff;&quot;&gt;     &lt;td style=&quot;border: 2px solid #214CBF; text-align: center; padding: 15px; font-weight: bold; font-size: 16px;&quot;&gt;Total&lt;/td&gt;     &lt;td style=&quot;border: 2px solid #214CBF; border-radius: 0 0 10px 0; text-align: center; padding: 15px; font-weight: bold; font-size: 16px;&quot;&gt;{!totalWithInstallmentFee}&lt;/td&gt;   &lt;/tr&gt; &lt;/table&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>endOfTableVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>  &lt;tr style=&quot;background-color: #0090ff;color: #fff;&quot;&gt;     &lt;td style=&quot;border: 2px solid #0090ff; text-align: left; padding: 15px; font-size: 16px; background-color: #214CBF;&quot;&gt;&lt;/td&gt;     &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-weight: bold; font-size: 16px;background-color: #214CBF;&quot;&gt;Total&lt;/td&gt; &lt;td style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-weight: bold; font-size: 16px;background-color: #214CBF;&quot;&gt;{!totalCostVar}&lt;/td&gt;   &lt;/tr&gt;    &lt;/table&gt; </stringValue>
        </value>
    </variables>
    <variables>
        <name>firstInstallmentVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>installmentCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>installmentTableVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width: 100%; border-collapse: collapse; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); font-family: &apos;Arial&apos;, sans-serif;&quot;&gt;   &lt;tr style=&quot;background-color: #214CBF; color: #fff; border-radius: 15px 15px 0 0;&quot;&gt;     &lt;th style=&quot;border: 2px solid #214CBF; text-align: center; padding: 15px; font-size: 16px;&quot;&gt;Due Date&lt;/th&gt;     &lt;th style=&quot;border: 2px solid #214CBF; text-align: center; padding: 15px; font-size: 16px;&quot;&gt;Amount&lt;/th&gt;   &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>numberOfInstallments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>packageAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>registrationRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registrations__c</objectType>
    </variables>
    <variables>
        <name>tableVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width: 100%;  font-family: &apos;Arial&apos;, sans-serif; border: 5px solid #0090ff;&quot;&gt;   &lt;tr style=&quot;background-color: #214CBF; color: #fff;&quot;&gt;     &lt;th style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px;&quot;&gt;Product&lt;/th&gt;     &lt;th style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px;&quot;&gt;Quantity&lt;/th&gt;     &lt;th style=&quot;border: 2px solid #0090ff; text-align: center; padding: 15px; font-size: 16px;&quot;&gt;Amount&lt;/th&gt;        &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>totalCostVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>webcodeBooleanVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>X400</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>400.0</numberValue>
        </value>
    </variables>
</Flow>
