force-app/main/default/flows/Automated_Email_Cadence_Athlete_TAG_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_10_of_Send_Bounce_Email1</name>
        <label>Copy 10 of Send Bounce Email1</label>
        <locationX>13162</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_11_of_Send_Bounce_Email1</name>
        <label>Copy 11 of Send Bounce Email1</label>
        <locationX>14394</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_12_of_Send_Bounce_Email1</name>
        <label>Copy 12 of Send Bounce Email1</label>
        <locationX>15626</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_8_of_Send_Bounce_Email1</name>
        <label>Copy 1 of Copy 8 of Send Bounce Email1</label>
        <locationX>16858</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Bounce_Email1</name>
        <label>Copy 1 of Send Bounce Email1</label>
        <locationX>2074</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Bounce_Email1</name>
        <label>Copy 2 of Send Bounce Email1</label>
        <locationX>3306</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Bounce_Email1</name>
        <label>Copy 3 of Send Bounce Email1</label>
        <locationX>4538</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_Bounce_Email1</name>
        <label>Copy 4 of Send Bounce Email1</label>
        <locationX>5770</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Send_Bounce_Email1</name>
        <label>Copy 5 of Send Bounce Email1</label>
        <locationX>7002</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Send_Bounce_Email1</name>
        <label>Copy 6 of Send Bounce Email1</label>
        <locationX>8234</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Send_Bounce_Email1</name>
        <label>Copy 7 of Send Bounce Email1</label>
        <locationX>9466</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Send_Bounce_Email1</name>
        <label>Copy 8 of Send Bounce Email1</label>
        <locationX>10698</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_9_of_Send_Bounce_Email1</name>
        <label>Copy 9 of Send Bounce Email1</label>
        <locationX>11930</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_1</name>
        <label>Email Athlete Day 1</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kUvz</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_11</name>
        <label>Email Athlete Day 11</label>
        <locationX>6474</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kZCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_13</name>
        <label>Email Athlete Day 13</label>
        <locationX>7706</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kZNl</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_3</name>
        <label>Email Athlete Day 3</label>
        <locationX>1546</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kVLm</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_5</name>
        <label>Email Athlete Day 5</label>
        <locationX>2778</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kYjR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_7</name>
        <label>Email Athlete Day 7</label>
        <locationX>4010</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kYrV</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Athlete_Day_9</name>
        <label>Email Athlete Day 9</label>
        <locationX>5242</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kYTK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_10</name>
        <label>Email TAG Day 10</label>
        <locationX>13866</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kc0f</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_12</name>
        <label>Email TAG Day 12</label>
        <locationX>15098</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kcBx</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_14</name>
        <label>Email TAG Day 14</label>
        <locationX>16330</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Zoom_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kcFB</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_2</name>
        <label>Email TAG Day 2</label>
        <locationX>8938</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kabZ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_4</name>
        <label>Email TAG Day 4</label>
        <locationX>10170</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kadB</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_6</name>
        <label>Email TAG Day 6</label>
        <locationX>11402</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kbPZ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_8</name>
        <label>Email TAG Day 8</label>
        <locationX>12634</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kWHq</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Bounce_Email1</name>
        <label>Send Bounce Email1</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Sales_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contact Email Bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bounceTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Minus</name>
        <label>Minus</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysMinusOneCalculatorFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Athlete</name>
        <label>Athlete</label>
        <locationX>996</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bounced_Email_Day_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bounced_Email_Day_1</name>
        <label>Bounced Email Day 1</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_1</targetReference>
            </connector>
            <label>No Bounce1</label>
        </rules>
        <rules>
            <name>Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Clear Bounce1</label>
        </rules>
        <rules>
            <name>Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_10_of_Bounced_Email_Day_1</name>
        <label>Copy 10 of Bounced Email Day 1</label>
        <locationX>13030</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_8</targetReference>
            </connector>
            <label>Copy 10 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_10_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 10 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_10_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 10 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_11_of_Bounced_Email_Day_1</name>
        <label>Copy 11 of Bounced Email Day 1</label>
        <locationX>14262</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_11_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_10</targetReference>
            </connector>
            <label>Copy 11 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_11_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 11 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_11_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 11 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_12_of_Bounced_Email_Day_1</name>
        <label>Copy 12 of Bounced Email Day 1</label>
        <locationX>15494</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_12</targetReference>
            </connector>
            <label>Copy 12 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_12_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 12 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_12_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 12 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Athlete</name>
        <label>Copy 1 of Athlete</label>
        <locationX>2228</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 1 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Bounced_Email_Day_1</name>
        <label>Copy 1 of Bounced Email Day 1</label>
        <locationX>1942</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_3</targetReference>
            </connector>
            <label>Copy 1 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 1 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 1 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_8_of_Bounced_Email_Day_1</name>
        <label>Copy 1 of Copy 8 of Bounced Email Day 1</label>
        <locationX>16726</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_8_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_14</targetReference>
            </connector>
            <label>Copy 1 of Copy 8 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_8_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_8_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 1 of Copy 8 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_8_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_8_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 1 of Copy 8 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_TAG</name>
        <label>Copy 1 of TAG</label>
        <locationX>10852</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 7 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Athlete</name>
        <label>Copy 2 of Athlete</label>
        <locationX>3460</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 2 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Bounced_Email_Day_1</name>
        <label>Copy 2 of Bounced Email Day 1</label>
        <locationX>3174</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_5</targetReference>
            </connector>
            <label>Copy 2 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_2_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 2 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_2_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 2 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_TAG</name>
        <label>Copy 2 of TAG</label>
        <locationX>12084</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 8 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Athlete</name>
        <label>Copy 3 of Athlete</label>
        <locationX>4692</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 3 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Bounced_Email_Day_1</name>
        <label>Copy 3 of Bounced Email Day 1</label>
        <locationX>4406</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_7</targetReference>
            </connector>
            <label>Copy 3 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_3_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 3 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_3_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 3 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_TAG</name>
        <label>Copy 3 of TAG</label>
        <locationX>13316</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 9 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Athlete</name>
        <label>Copy 4 of Athlete</label>
        <locationX>5924</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 4 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Bounced_Email_Day_1</name>
        <label>Copy 4 of Bounced Email Day 1</label>
        <locationX>5638</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_9</targetReference>
            </connector>
            <label>Copy 4 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_4_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 4 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_4_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 4 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_TAG</name>
        <label>Copy 4 of TAG</label>
        <locationX>14548</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 10 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_Athlete</name>
        <label>Copy 5 of Athlete</label>
        <locationX>7156</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 5 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_Bounced_Email_Day_1</name>
        <label>Copy 5 of Bounced Email Day 1</label>
        <locationX>6870</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_11</targetReference>
            </connector>
            <label>Copy 5 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_5_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 5 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_5_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 5 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_TAG</name>
        <label>Copy 5 of TAG</label>
        <locationX>15780</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_11_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 11 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Athlete</name>
        <label>Copy 6 of Athlete</label>
        <locationX>8388</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 6 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Bounced_Email_Day_1</name>
        <label>Copy 6 of Bounced Email Day 1</label>
        <locationX>8102</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_13</targetReference>
            </connector>
            <label>Copy 6 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_6_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 6 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_6_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 6 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_TAG</name>
        <label>Copy 6 of TAG</label>
        <locationX>17012</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_8_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>Copy 12 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_7_of_Bounced_Email_Day_1</name>
        <label>Copy 7 of Bounced Email Day 1</label>
        <locationX>9334</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_2</targetReference>
            </connector>
            <label>Copy 7 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_7_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 7 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_7_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 7 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_8_of_Bounced_Email_Day_1</name>
        <label>Copy 8 of Bounced Email Day 1</label>
        <locationX>10566</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_4</targetReference>
            </connector>
            <label>Copy 8 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_8_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 8 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_8_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 8 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_9_of_Bounced_Email_Day_1</name>
        <label>Copy 9 of Bounced Email Day 1</label>
        <locationX>11798</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_No_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_6</targetReference>
            </connector>
            <label>Copy 9 of No Bounce1</label>
        </rules>
        <rules>
            <name>Copy_9_of_Clear_Bounce1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Update_Remove_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 9 of Clear Bounce1</label>
        </rules>
        <rules>
            <name>Copy_9_of_Send_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Bounce_Tracker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared Bounce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Update_Confirm_Bounce_Contact1</targetReference>
            </connector>
            <label>Copy 9 of Send Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>TAG</name>
        <label>TAG</label>
        <locationX>9620</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Bounced_Email_Day_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>daysMinusOneCalculatorFormula</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!$Record.AddMinutesToDateFormula__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Automated Email Cadence Athlete/TAG Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automated Email Cadence Athlete/TAG Opps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_10_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 10 of Update Confirm Bounce Contact1</label>
        <locationX>13162</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_10_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_10_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 10 of Update Remove Bounce Contact1</label>
        <locationX>12898</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_11_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 11 of Update Confirm Bounce Contact1</label>
        <locationX>14394</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_11_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_11_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 11 of Update Remove Bounce Contact1</label>
        <locationX>14130</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 12 of Update Confirm Bounce Contact1</label>
        <locationX>15626</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_12_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 12 of Update Remove Bounce Contact1</label>
        <locationX>15362</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_8_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 1 of Copy 8 of Update Confirm Bounce Contact1</label>
        <locationX>16858</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_8_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_8_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 1 of Copy 8 of Update Remove Bounce Contact1</label>
        <locationX>16594</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 1 of Update Confirm Bounce Contact1</label>
        <locationX>2074</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 1 of Update Remove Bounce Contact1</label>
        <locationX>1810</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 2 of Update Confirm Bounce Contact1</label>
        <locationX>3306</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_2_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 2 of Update Remove Bounce Contact1</label>
        <locationX>3042</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 3 of Update Confirm Bounce Contact1</label>
        <locationX>4538</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_3_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 3 of Update Remove Bounce Contact1</label>
        <locationX>4274</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 4 of Update Confirm Bounce Contact1</label>
        <locationX>5770</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_4_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 4 of Update Remove Bounce Contact1</label>
        <locationX>5506</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 5 of Update Confirm Bounce Contact1</label>
        <locationX>7002</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_5_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 5 of Update Remove Bounce Contact1</label>
        <locationX>6738</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 6 of Update Confirm Bounce Contact1</label>
        <locationX>8234</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_6_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 6 of Update Remove Bounce Contact1</label>
        <locationX>7970</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 7 of Update Confirm Bounce Contact1</label>
        <locationX>9466</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_7_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 7 of Update Remove Bounce Contact1</label>
        <locationX>9202</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 8 of Update Confirm Bounce Contact1</label>
        <locationX>10698</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_8_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 8 of Update Remove Bounce Contact1</label>
        <locationX>10434</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Update_Confirm_Bounce_Contact1</name>
        <label>Copy 9 of Update Confirm Bounce Contact1</label>
        <locationX>11930</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_9_of_Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Update_Remove_Bounce_Contact1</name>
        <label>Copy 9 of Update Remove Bounce Contact1</label>
        <locationX>11666</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_TAG_Day_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirm_Bounce_Contact1</name>
        <label>Update Confirm Bounce Contact1</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_Bounce_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Confirmed Bounce</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>7706</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RepeatLastEmailDateTIme__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Remove_Bounce_Contact1</name>
        <label>Update Remove Bounce Contact1</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Athlete_Day_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bounce_Tracker__c</field>
            <value>
                <stringValue>Cleared Bounce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>EmailBouncedReason</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zoom_Date</name>
        <label>Update Zoom Date</label>
        <locationX>16330</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RepeatLastEmailDateTIme__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>8405</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Minus</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012f4000000aRkjAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Webcode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zoom_Meeting__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Day_1</name>
            <connector>
                <targetReference>Athlete</targetReference>
            </connector>
            <label>Day 1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_3</name>
            <connector>
                <targetReference>Copy_1_of_Athlete</targetReference>
            </connector>
            <label>Day 3</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_5</name>
            <connector>
                <targetReference>Copy_2_of_Athlete</targetReference>
            </connector>
            <label>Day 5</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_7</name>
            <connector>
                <targetReference>Copy_3_of_Athlete</targetReference>
            </connector>
            <label>Day 7</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_9</name>
            <connector>
                <targetReference>Copy_4_of_Athlete</targetReference>
            </connector>
            <label>Day 9</label>
            <offsetNumber>9</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_11</name>
            <connector>
                <targetReference>Copy_5_of_Athlete</targetReference>
            </connector>
            <label>Day 11</label>
            <offsetNumber>11</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_13</name>
            <connector>
                <targetReference>Copy_6_of_Athlete</targetReference>
            </connector>
            <label>Day 13</label>
            <offsetNumber>13</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_2</name>
            <connector>
                <targetReference>TAG</targetReference>
            </connector>
            <label>Day 2</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_4</name>
            <connector>
                <targetReference>Copy_1_of_TAG</targetReference>
            </connector>
            <label>Day 4</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_6</name>
            <connector>
                <targetReference>Copy_2_of_TAG</targetReference>
            </connector>
            <label>Day 6</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_8</name>
            <connector>
                <targetReference>Copy_3_of_TAG</targetReference>
            </connector>
            <label>Day 8</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_10</name>
            <connector>
                <targetReference>Copy_4_of_TAG</targetReference>
            </connector>
            <label>Day 10</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_12</name>
            <connector>
                <targetReference>Copy_5_of_TAG</targetReference>
            </connector>
            <label>Day 12</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_14</name>
            <connector>
                <targetReference>Copy_6_of_TAG</targetReference>
            </connector>
            <label>Day 14</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>AddMinutesToDateFormula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>athelteTemplateDay1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00Df4000003AdqV&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255); font-family: Arial;&quot;&gt;Registration is OPEN for&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255);&quot;&gt; {!$Record.Account.Name} &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255); font-family: Arial;&quot;&gt;{!$Record.KSASport_or_Performing_Art__c} Athletes and Fans!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: arial; font-size: 16px;&quot;&gt;Thank you so much for joining us for the meeting last night!! We are so excited to host your {!$Record.Account.Name} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px;&quot;&gt;{!$Record.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: arial; font-size: 16px;&quot;&gt; Team in &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Destination__c}&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;!! My name is &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Account_Manager__c} and &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;I will be the team&apos;s account manager and&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;your main point of contact for all of the travel arrangements and accommodations.&amp;nbsp;Should&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;you have any questions or need additional information, please reach out to me directly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial; color: rgb(255, 0, 0);&quot;&gt;As you heard, Coach has planned an exciting trip down to {!$Record.Destination__c} for the team! We hope you will join us!!&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial; color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);&quot;&gt;&lt;u&gt;We would like to have all Athletes and FAN Tagalongs registered in the next two weeks! &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;By registering as a Fan, you will receive the same trip inclusions as the players!&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt; I have included some information below to help get everyone started.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;The link below will take you to our Video page where you can see several videos of all of the exciting things the team and families will have a chance to participate in on your trip!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;a href=&quot;https://ksaevents.net/resource-videos/&quot; target=&quot;_blank&quot;&gt;
  &lt;img src=&quot;https://ksaevents.file.force.com/servlet/servlet.ImageServer?id=015PQ000000MY6H&amp;oid=00Df4000003AdqV&amp;lastMod=1701389475000&quot; alt=&quot;KSA Videos&quot; width=&quot;300&quot;&gt;
&lt;/a&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Player Registration Instructions:&lt;/strong&gt;&lt;span style=&quot;font-family: Arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; Please follow the steps below to complete your players registration online.&amp;nbsp;If you have any issues completing this, please feel free to contact me any time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 16px;&quot;&gt;Tag A-long Information:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 16px;&quot;&gt; Families are invited to join the team in Orlando as well!!&amp;nbsp;This is a wonderful opportunity to come cheer the team on AND make it a family vacation!&amp;nbsp;Tag A-longs are offered the same inclusions and pricing as the team  you essentially get to travel alongside the team!&amp;nbsp;Families will also have the opportunity to fly with the team!&amp;nbsp;To register your family for the trip, please follow the same steps as registering your athlete, but choose Fan Reservation and applicable room occupancy rate for number of people staying in your room.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt; background-color: rgb(255, 255, 0);&quot;&gt;An initial deposit of $400 per person is due for all Athletes and Fan Tagalongs&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please have yourself (and any other FAN Tagalongs) registered as soon as possible so that their spot is guaranteed&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 12pt;&quot;&gt;How do I register to participate?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;1. Click on the link to the site: &lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt;https://ksaevents.net/&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;2. Click on Register at the top of the page&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;3. Click on &lt;/span&gt;&lt;u style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Athlete Registration&lt;/u&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt; to register your athlete (&lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/register/athlete-registration/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial; font-size: 12pt;&quot;&gt;KSA Events | Athlete Registration&lt;/a&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;)&amp;nbsp;or &lt;/span&gt;&lt;u style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Fan Reservation&lt;/u&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt; to register friends &amp;amp; family (&lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/register/fan-reservations/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial; font-size: 12pt;&quot;&gt;KSA Events | Fan Reservations&lt;/a&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;4. Fill out the registration. &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;**Webcode is {!$Record.GL_Webcode__c} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;5. Enter credit card information and deposit amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;6. Review Terms &amp;amp; Conditions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;7. Click Register Button&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;8. You are all set! You will receive an email confirmation within 24 hours with your receipt and invoice.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14.6667px; font-family: Arial; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;We hope you will join us to cheer on the team!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bounceTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hi {!$Record.Sales_Manager__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Sales_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://ksaevents.lightning.force.com/{!$Record.School_Contact__r.Email}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.School_Contact__r.FirstName} {!$Record.School_Contact__r.LastName}&lt;/a&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; traveling with {!$Record.School_Contact__r.Account.Name} has a confirmed bounced email address. We have stopped all further marketing emails until the email address &lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 16px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;has been updated. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
