force-app/main/default/flows/Delete_Unpaid_Registrations_After_10_Minutes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Delete_Email</name>
        <label>Send Delete Email</label>
        <locationX>380</locationX>
        <locationY>1524</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>todd@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Deleted Opp, Invoice &amp; Registration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>deleteEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Opp.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Found_Invoice</name>
        <label>Found Invoice</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Invoice</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opp</name>
        <label>Found Opp</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Delete_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paid</name>
        <label>Paid?</label>
        <locationX>567</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registration.Payment_Success__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Unpaid Registrations After 10 Minutes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Unpaid Registrations After 10 Minutes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Invoice</name>
        <label>Delete Invoice</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <inputReference>Get_Invoice</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opp</name>
        <label>Delete Opp</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Delete_Registration</targetReference>
        </connector>
        <inputReference>Get_Opp</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Registration</name>
        <label>Delete Registration</label>
        <locationX>380</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Send_Delete_Email</targetReference>
        </connector>
        <inputReference>Get_Registration</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Registration.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registration</name>
        <label>Get Registration</label>
        <locationX>567</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registrations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Delete_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeletedData__c</field>
            <value>
                <elementReference>deleteTableTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Success__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phase_2_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Registrations__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X10_Minutes_After_Creation</name>
            <connector>
                <targetReference>Get_Registration</targetReference>
            </connector>
            <label>10 Minutes After Creation</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>deleteEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An Opportunity has been deleted due to not being paid within 10 minutes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot;&gt;&lt;thead&gt;&lt;tr&gt;&lt;th class=&quot;tg-nrix&quot;&gt;&lt;span style=&quot;font-weight:bold;text-decoration:underline&quot;&gt;Typ&lt;/span&gt;&lt;span style=&quot;font-weight:bold&quot;&gt;e&lt;/span&gt;&lt;/th&gt;&lt;th class=&quot;tg-baqh&quot;&gt;&lt;span style=&quot;font-weight:bold;text-decoration:underline&quot;&gt;Name&lt;/span&gt;&lt;/th&gt;&lt;th class=&quot;tg-baqh&quot;&gt;&lt;span style=&quot;font-weight:bold;text-decoration:underline&quot;&gt;RecordId&lt;/span&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;
&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot;&gt;&lt;span style=&quot;font-weight:400;font-style:normal&quot;&gt;Opportunity&lt;/span&gt;&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Opp.Name}&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Opp.Id}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot;&gt;&lt;span style=&quot;font-weight:400;font-style:normal&quot;&gt;Invoice&lt;/span&gt;&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Invoice.Name}&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Invoice.Id}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot;&gt;&lt;span style=&quot;font-weight:400;font-style:normal&quot;&gt;Registration&lt;/span&gt;&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Registration.Name}.&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot;&gt;{!Get_Registration.Id}.&lt;/td&gt;&lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You. can retrieve these from the Recycling Bin. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>deleteTableTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot;&gt;&lt;thead&gt;&lt;tr&gt;&lt;th class=&quot;tg-nrix&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;text-decoration-line: underline;&quot;&gt;Typ&lt;/span&gt;e&lt;/th&gt;&lt;th class=&quot;tg-baqh&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;text-decoration-line: underline;&quot;&gt;Name&lt;/span&gt;&lt;/th&gt;&lt;th class=&quot;tg-baqh&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;&lt;span style=&quot;text-decoration-line: underline;&quot;&gt;RecordId&lt;/span&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Opportunity&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Opp.Name}&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Opp.Id}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Invoice&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Invoice.Name}&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Invoice.Id}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Registration&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Registration.Name}.&lt;/td&gt;&lt;td class=&quot;tg-0lax&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;{!Get_Registration.Id}.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
