force-app/main/default/flows/Delete_Dupes_and_Run_Payment_for_Registrations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Text_Collection</name>
        <label>Add to Text Collection</label>
        <locationX>528</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>oppTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Registrations.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Registrations.Registration_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Registrations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Contacts_to_Delete</name>
        <label>Found Contacts to Delete?</label>
        <locationX>440</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_from_Registrations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Dupe_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opps_to_Delete</name>
        <label>Found Opps to Delete?</label>
        <locationX>440</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts_from_Registrations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opps_from_Registrations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Dupe_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Dupes and Run Payment for Registrations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Dupes and Run Payment for Registrations</label>
    <loops>
        <name>Loop_Registrations</name>
        <label>Loop Registrations</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Dupe_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opps_from_Registrations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Dupe_Contacts</name>
        <label>Delete Dupe Contacts</label>
        <locationX>176</locationX>
        <locationY>1440</locationY>
        <inputReference>Get_Contacts_from_Registrations</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Dupe_Opps</name>
        <label>Delete Dupe Opps</label>
        <locationX>176</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Get_Contacts_from_Registrations</targetReference>
        </connector>
        <inputReference>Get_Opps_from_Registrations</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contacts_from_Registrations</name>
        <label>Get Contacts from Registrations</label>
        <locationX>440</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contacts_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contactTextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Registration_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dupe_Registrations</name>
        <label>Get Dupe Registrations</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Registrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birth_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Webcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Webcode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Team_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_Process_Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Registrations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps_from_Registrations</name>
        <label>Get Opps from Registrations</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opps_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>oppTextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Registrations__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_Minutes</name>
            <connector>
                <targetReference>Get_Dupe_Registrations</targetReference>
            </connector>
            <label>5 Minutes</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
