force-app/main/default/flows/Invoice_Late_Payment_Automated_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send10DayEmail</name>
        <label>Send 10 Day Email</label>
        <locationX>666</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Payment is Now Late - KSA Events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>X10DaysLateTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send15DayEmail</name>
        <label>Send 15 Day Email</label>
        <locationX>1282</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Payment is Now Late - KSA Events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>X15DaysLateFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send19DayEmail</name>
        <label>Send 19 Day Email</label>
        <locationX>1898</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Payment is Now Late - KSA Events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>X19DaysLateTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send22DayEmail</name>
        <label>Send 22 Day Email</label>
        <locationX>2514</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Payment is Now Late - KSA Events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>X22DaysLateTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send3DayEmail</name>
        <label>Send 3 Day Email</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@ksaevents.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Payment is Now Late - KSA Events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>X3DaysLateTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.fw1__Opportunity__r.School_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddQuantitytoVariable10Days</name>
        <label>Add Quantity to Variable 10 Days</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>numberOfPassengersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItems10Days.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineItems10Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddQuantitytoVariable15Days</name>
        <label>Add Quantity to Variable 15 Days</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>numberOfPassengersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItems15Days.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineItems15Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddQuantitytoVariable19Days</name>
        <label>Add Quantity to Variable 19 Days</label>
        <locationX>1986</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>numberOfPassengersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItems19Days.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineItems19Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddQuantitytoVariable22Days</name>
        <label>Add Quantity to Variable 22 Days</label>
        <locationX>2602</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>numberOfPassengersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItems22Days.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineItems22Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddQuantitytoVariable3Days</name>
        <label>Add Quantity to Variable 3 Days</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>numberOfPassengersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItems3Days.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineItems3Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Email_Exists_3_Days</name>
        <label>Contact Email Exists 3 Days</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Opportunity__r.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Invoice_3_Days.fw1__Total_Invoice_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Opportunity__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>todayMinusDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_3_Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageLineItems3Days</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactEmailExists10Days</name>
        <label>Contact Email Exists 10 Days</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Opportunity__r.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetInvoice10Days.fw1__Total_Invoice_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Opportunity__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>todayMinusDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice10Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageLineItems10Days</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactEmailExists15Days</name>
        <label>Contact Email Exists 15 Days</label>
        <locationX>1414</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Opportunity__r.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetInvoice15Days.fw1__Total_Invoice_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Opportunity__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>todayMinusDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice15Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageLineItems15Days</targetReference>
            </connector>
            <label>Copy 2 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactEmailExists19Days</name>
        <label>Contact Email Exists 19 Days</label>
        <locationX>2030</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Opportunity__r.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetInvoice19Days.fw1__Total_Invoice_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Opportunity__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>todayMinusDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice19Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageLineItems19Days</targetReference>
            </connector>
            <label>Copy 3 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactEmailExists22Days</name>
        <label>Contact Email Exists 22 Days</label>
        <locationX>2646</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Opportunity__r.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Total_Paid_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetInvoice22Days.fw1__Total_Invoice_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Opportunity__r.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>todayMinusDueDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInvoice22Days.fw1__Do_not_Add_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPackageLineItems22Days</targetReference>
            </connector>
            <label>Copy 4 of True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>balancePlusLateFeeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Invoice_3_Days.Id} != null, {!latePaymentAmount}+{!Get_Invoice_3_Days.fw1__Balance_Due__c}, 
IF({!GetInvoice10Days.Id} != null, {!latePaymentAmount}+{!GetInvoice10Days.fw1__Balance_Due__c}, 
IF({!GetInvoice15Days.Id} != null, {!latePaymentAmount}+{!GetInvoice15Days.fw1__Balance_Due__c},
IF({!GetInvoice19Days.Id} != null, {!latePaymentAmount}+{!GetInvoice19Days.fw1__Balance_Due__c},
IF({!GetInvoice22Days.Id} != null, {!latePaymentAmount}+{!GetInvoice22Days.fw1__Balance_Due__c},
{!latePaymentAmount}+{!$Record.fw1__Balance_Due__c})))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lateDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Invoice_3_Days.Id} != null, {!Get_Invoice_3_Days.fw1__Due_Date__c}+21, 
IF({!GetInvoice10Days.Id} != null, {!GetInvoice10Days.fw1__Due_Date__c}+21, 
IF({!GetInvoice15Days.Id} != null, {!GetInvoice15Days.fw1__Due_Date__c}+21, 
IF({!GetInvoice19Days.Id} != null, {!GetInvoice19Days.fw1__Due_Date__c}+21, 
IF({!GetInvoice22Days.Id} != null, {!GetInvoice22Days.fw1__Due_Date__c}+21, 
{!$Record.fw1__Due_Date__c}+21)))))</expression>
    </formulas>
    <formulas>
        <name>latePaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!numberOfPassengersVar}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>todayMinusDueDate</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Invoice_3_Days.Id} != null, TODAY()-{!Get_Invoice_3_Days.fw1__Due_Date__c}, 
IF({!GetInvoice10Days.Id} != null, TODAY()-{!GetInvoice10Days.fw1__Due_Date__c}, 
IF({!GetInvoice15Days.Id} != null, TODAY()-{!GetInvoice15Days.fw1__Due_Date__c}, 
IF({!GetInvoice19Days.Id} != null, TODAY()-{!GetInvoice19Days.fw1__Due_Date__c}, 
IF({!GetInvoice22Days.Id} != null, TODAY()-{!GetInvoice22Days.fw1__Due_Date__c}, 
TODAY()-{!$Record.fw1__Due_Date__c})))))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Late Payment Automated Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Late Payment Automated Emails</label>
    <loops>
        <name>LoopLineItems10Days</name>
        <label>Loop Line Items 10 Days</label>
        <locationX>666</locationX>
        <locationY>600</locationY>
        <collectionReference>GetPackageLineItems10Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQuantitytoVariable10Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send10DayEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLineItems15Days</name>
        <label>Loop Line Items 15 Days</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <collectionReference>GetPackageLineItems15Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQuantitytoVariable15Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send15DayEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLineItems19Days</name>
        <label>Loop Line Items 19 Days</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <collectionReference>GetPackageLineItems19Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQuantitytoVariable19Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send19DayEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLineItems22Days</name>
        <label>Loop Line Items 22 Days</label>
        <locationX>2514</locationX>
        <locationY>600</locationY>
        <collectionReference>GetPackageLineItems22Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQuantitytoVariable22Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send22DayEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLineItems3Days</name>
        <label>Loop Line Items 3 Days</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>GetPackageLineItems3Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddQuantitytoVariable3Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send3DayEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_3_Days</name>
        <label>Get Invoice 3 Days</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Email_Exists_3_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoice10Days</name>
        <label>Get Invoice 10 Days</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactEmailExists10Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoice15Days</name>
        <label>Get Invoice 15 Days</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactEmailExists15Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoice19Days</name>
        <label>Get Invoice 19 Days</label>
        <locationX>2030</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactEmailExists19Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoice22Days</name>
        <label>Get Invoice 22 Days</label>
        <locationX>2646</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactEmailExists22Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageLineItems10Days</name>
        <label>Get Package Line Items 10 Days</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItems10Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageLineItems15Days</name>
        <label>Get Package Line Items 15 Days</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItems15Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageLineItems19Days</name>
        <label>Get Package Line Items 19 Days</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItems19Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageLineItems22Days</name>
        <label>Get Package Line Items 22 Days</label>
        <locationX>2514</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItems22Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPackageLineItems3Days</name>
        <label>Get Package Line Items 3 Days</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItems3Days</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Double</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Triple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Is_Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Due_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2024-02-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Balance_Due__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Do_not_Add_Late_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_Days_After</name>
            <connector>
                <targetReference>Get_Invoice_3_Days</targetReference>
            </connector>
            <label>3 Days After</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Days_After</name>
            <connector>
                <targetReference>GetInvoice10Days</targetReference>
            </connector>
            <label>10 Days After</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_Days_After</name>
            <connector>
                <targetReference>GetInvoice15Days</targetReference>
            </connector>
            <label>15 Days After</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X19_Days_After</name>
            <connector>
                <targetReference>GetInvoice19Days</targetReference>
            </connector>
            <label>19 Days After</label>
            <offsetNumber>19</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X22_Days_After</name>
            <connector>
                <targetReference>GetInvoice22Days</targetReference>
            </connector>
            <label>22 Days After</label>
            <offsetNumber>22</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>X10DaysLateTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DU9000004ZHdB&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;You are currently &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt;10 days late&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt; on your payment. You still have a balance of &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!GetInvoice10Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;If you do not pay &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;${!GetInvoice10Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;before &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!lateDateFormula}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;, you will be charged&amp;nbsp;a late fee of &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt;{!latePaymentAmount}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;. Late Payments will be applied at 12:00 AM EST on &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!lateDateFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;Please pay your balance as soon as possible to ensure you can attend the event. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;margin: auto; text-align: center;&quot; width=&quot;200&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px 5px; background-color: rgb(238, 238, 238); color: rgb(255, 0, 0); font-size: 20px; border-radius: 5px; border: 5px solid rgb(18, 0, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;a style=&quot;color: rgb(255, 0, 0); text-decoration-line: underline;&quot; href=&quot;https://ksaevents.my.salesforce-sites.com/payments/fw1__Payment?invoiceId={!$Record.Id}&amp;amp;showInvoiceLines=true&quot;&gt;PAY HERE NOW!&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;KSA Events&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: arial;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;{!$Record.fw1__Opportunity__r.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.fw1__Opportunity__r.School_Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice #: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sport: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>X15DaysLateFormula</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00Df4000003AdqV&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;You are currently &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;15 days late&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt; on your payment. You still have a balance of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;${!GetInvoice15Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; color: rgb(0, 64, 255);&quot;&gt;You may miss out on attending the event and we cannot secure your registration without full payment. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;If you do not pay&lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!GetInvoice15Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;before &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;, you will be charged&amp;nbsp;a late fee of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!latePaymentAmount}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Late Payments will be applied at 12:00 AM EST on &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Please pay your balance as soon as possible to ensure you can attend the event. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;margin: auto; text-align: center;&quot; width=&quot;200&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px 5px; background-color: rgb(238, 238, 238); color: rgb(255, 0, 0); font-size: 20px; border-radius: 5px; border: 5px solid rgb(18, 0, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;a href=&quot;https://ksaevents.my.salesforce-sites.com/payments/fw1__Payment?invoiceId={!$Record.Id}&amp;amp;showInvoiceLines=true&quot; style=&quot;color: rgb(255, 0, 0); text-decoration-line: underline;&quot;&gt;PAY HERE NOW!&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;KSA Events&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: arial; font-size: 14px;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.fw1__Opportunity__r.School_Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice #: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sport: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>X19DaysLateTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00Df4000003AdqV&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;You are currently &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;19 days late&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt; on your payment. You still have a balance of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$&lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{!GetInvoice19Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;YOU NOW ONLY HAVE 3 DAYS BEFORE LATE FEES ARE ADDED TO YOUR INVOICE!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;If you do not pay&lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!GetInvoice19Days.fw1__Balance_Due__c}.&lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;before &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;, you will be charged&amp;nbsp;a late fee of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!latePaymentAmount}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Late Payments will be applied at 12:00 AM EST on &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Please pay your balance as soon as possible to ensure you can attend the event. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;margin: auto; text-align: center;&quot; width=&quot;200&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px 5px; background-color: rgb(238, 238, 238); color: rgb(255, 0, 0); font-size: 20px; border-radius: 5px; border: 5px solid rgb(18, 0, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;a style=&quot;color: rgb(255, 0, 0); text-decoration-line: underline;&quot; href=&quot;https://ksaevents.my.salesforce-sites.com/payments/fw1__Payment?invoiceId={!$Record.Id}&amp;amp;showInvoiceLines=true&quot;&gt;PAY HERE NOW!&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;KSA Events&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: arial; font-size: 14px;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.fw1__Opportunity__r.School_Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice #: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sport: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>X22DaysLateTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;not&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00DU9000004ZHdB&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;YOUR PAYMENT IS NOW LATE!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;You are currently &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt;22 days late&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt; on your payment. You still have a balance of &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt;{!balancePlusLateFeeFormula}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;You did not pay &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;${!GetInvoice22Days.fw1__Balance_Due__c}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;by &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;, and have incurred a late fee charge of &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial;&quot;&gt;{!latePaymentAmount}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;. Late Payments will be applied at 12:00 AM EST on &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: arial; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Please pay your balance IMMEDIATELY to ensure you can attend the event. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;margin: auto; text-align: center;&quot; width=&quot;200&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px 5px; background-color: rgb(238, 238, 238); color: rgb(255, 0, 0); font-size: 20px; border-radius: 5px; border: 5px solid rgb(18, 0, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;a style=&quot;color: rgb(255, 0, 0); text-decoration-line: underline;&quot; href=&quot;https://ksaevents.my.salesforce-sites.com/payments/fw1__Payment?invoiceId={!$Record.Id}&amp;amp;showInvoiceLines=true&quot;&gt;PAY HERE NOW!&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;KSA Events&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: arial;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;{!$Record.fw1__Opportunity__r.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.fw1__Opportunity__r.School_Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice #: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sport: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>X3DaysLateTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00Df4000003AdqV&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.FirstName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;You are currently &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;3 days late&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt; on your payment. You still have a balance of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$&lt;/strong&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{!Get_Invoice_3_Days.fw1__Balance_Due__c}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you do not pay &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$${!Get_Invoice_3_Days.fw1__Balance_Due__c} &lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;before &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!lateDateFormula}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, you will be charged&amp;nbsp;a late fee of &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!latePaymentAmount}&lt;/strong&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Late Payments will be applied at 12:00 AM EST on &lt;/span&gt;&lt;strong style=&quot;font-family: arial; font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!lateDateFormula}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Please pay your balance as soon as possible to ensure you can attend the event. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;margin: auto; text-align: center;&quot; width=&quot;200&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px 5px; background-color: rgb(238, 238, 238); color: rgb(255, 0, 0); font-size: 20px; border-radius: 5px; border: 5px solid rgb(18, 0, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;a style=&quot;color: rgb(255, 0, 0); text-decoration-line: underline;&quot; href=&quot;https://ksaevents.my.salesforce-sites.com/payments/fw1__Payment?invoiceId={!$Record.Id}&amp;amp;showInvoiceLines=true&quot;&gt;PAY HERE NOW!&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;KSA Events&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: arial;&quot;&gt;School Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;{!$Record.fw1__Opportunity__r.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!$Record.fw1__Opportunity__r.School_Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.School_Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Invoice #: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sport: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.fw1__Opportunity__r.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>numberOfPassengersVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
