force-app/main/default/flows/Lead_After_Save_Record_Trigger_Flow_Round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Emai_Lead_owner</name>
        <label>Emai Lead owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NEW LEAD!!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignOwner</name>
        <label>Assign Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>roundRobinOwnerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emai_Lead_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwner</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>roundRobinOwnerFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Industry}) = &apos;Football&apos;, &apos;005f4000001tXO5AAM&apos;, 
IF({!$Record.Round_Robin_ID__c} = 1, &apos;005PQ000001WZ6yYAG&apos;,
IF({!$Record.Round_Robin_ID__c} = 2, &apos;005f4000001tXO5AAM&apos;,
IF({!$Record.Round_Robin_ID__c} = 3, &apos;005PQ000001ilU5YAI&apos;,
IF({!$Record.Round_Robin_ID__c} = 4, &apos;005f4000001tXLkAAM&apos;,
IF({!$Record.Round_Robin_ID__c} = 5, &apos;005f4000001tXOBAA2&apos;,
&apos;005f4000001tXLkAAM&apos;))))))</expression>
    </formulas>
    <interviewLabel>Lead Before Save Record Trigger Flow(Round Robin) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Save Record Trigger Flow(Round Robin)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner:User.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been assigned a new Lead.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://ksaevents.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;CLICK HERE TO VIEW&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;First Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name: &lt;/strong&gt;{!$Record.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;School: &lt;/strong&gt;{!$Record.Company}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sport: &lt;/strong&gt;{!$Record.Industry}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!$Record.Phone}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!$Record.Email}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
