force-app/main/default/flows/Opportunity_After_Save_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Name_Not_Correct</name>
        <label>Name Not Correct</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oppNameFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Departure_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sport_Abbreviation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oppNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordType.Id}=&apos;012f4000000aRkZAAU&apos;, TEXT(YEAR({!$Record.Departure_Date__c}))+&apos; &apos;+{!$Record.Sport_Abbreviation__c}+&apos; &apos;+{!$Record.Account.Name}+&apos; &apos;+{!$Record.School_Contact__r.FirstName}+&apos; &apos;+{!$Record.School_Contact__r.LastName}+&apos; TAG &apos;+TEXT({!$Record.Passenger_Count__c}), 
IF({!$Record.RecordType.Id}=&apos;012f4000000aRkUAAU&apos;, TEXT(YEAR({!$Record.Departure_Date__c}))+&apos; &apos;+{!$Record.Sport_Abbreviation__c}+&apos; &apos;+{!$Record.Account.Name}+&apos; &apos;+{!$Record.School_Contact__r.FirstName}+&apos; &apos;+{!$Record.School_Contact__r.LastName}+&apos; ATH&apos;, 
TEXT(YEAR({!$Record.Departure_Date__c}))+&apos; &apos;+{!$Record.Sport_Abbreviation__c}+&apos; &apos;+{!$Record.Account.Name}+&apos; &apos;+{!$Record.School_Contact__r.FirstName}+&apos; &apos;+{!$Record.School_Contact__r.LastName}+&apos; GL&apos;))</expression>
    </formulas>
    <interviewLabel>Opportunity After Save Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save Record Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Name_Not_Correct</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
