force-app/main/default/flows/Registration_Before_Save_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Full_Name_Values</name>
        <label>Assign Full Name Values</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.PAX_1_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PAX_2_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PAX_3_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PAX_4_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PAX_5_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PAX_6_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullNamePAX6</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tag</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tag</name>
        <label>Tag?</label>
        <locationX>182</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000BvJfAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_1_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_2_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_3_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_4_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_5_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAX_6_Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fullNamePAX6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Full_Name_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fullNamePAX1</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=1, {!$Record.X1_Middle_Name__c}!=null), {!$Record.X1_First_Name__c}+&apos; &apos;+{!$Record.X1_Middle_Name__c}+&apos; &apos;+{!$Record.X1_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=1, {!$Record.X1_Middle_Name__c}=null), {!$Record.X1_First_Name__c}+&apos; &apos;+{!$Record.X1_Last_Name__c}, null))</expression>
    </formulas>
    <formulas>
        <name>fullNamePAX2</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=2, {!$Record.X2_Middle_Name__c}!=null), {!$Record.X2_First_Name__c}+&apos; &apos;+{!$Record.X2_Middle_Name__c}+&apos; &apos;+{!$Record.X2_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=2, {!$Record.X2_Middle_Name__c}=null), {!$Record.X2_First_Name__c}+&apos; &apos;+{!$Record.X2_Last_Name__c}, null))</expression>
    </formulas>
    <formulas>
        <name>fullNamePAX3</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=3, {!$Record.X3_Middle_Name__c}!=null), {!$Record.X3_First_Name__c}+&apos; &apos;+{!$Record.X3_Middle_Name__c}+&apos; &apos;+{!$Record.X3_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=3,  {!$Record.X3_Middle_Name__c}=null), {!$Record.X3_First_Name__c}+&apos; &apos;+{!$Record.X3_Last_Name__c}, null))</expression>
    </formulas>
    <formulas>
        <name>fullNamePAX4</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=4, {!$Record.X4_Middle_Name__c}!=null), {!$Record.X4_First_Name__c}+&apos; &apos;+{!$Record.X4_Middle_Name__c}+&apos; &apos;+{!$Record.X4_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=4, {!$Record.X4_Middle_Name__c}=null), {!$Record.X4_First_Name__c}+&apos; &apos;+{!$Record.X4_Last_Name__c}, null))</expression>
    </formulas>
    <formulas>
        <name>fullNamePAX5</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=5, {!$Record.X5_Middle_Name__c}!=null), {!$Record.X5_First_Name__c}+&apos; &apos;+{!$Record.X5_Middle_Name__c}+&apos; &apos;+{!$Record.X5_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=5, {!$Record.X5_Middle_Name__c}=null), {!$Record.X5_First_Name__c}+&apos; &apos;+{!$Record.X5_Last_Name__c}, null))</expression>
    </formulas>
    <formulas>
        <name>fullNamePAX6</name>
        <dataType>String</dataType>
        <expression>IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=6, {!$Record.X6_Middle_Name__c}!=null), {!$Record.X6_First_Name__c}+&apos; &apos;+{!$Record.X6_Middle_Name__c}+&apos; &apos;+{!$Record.X6_Last_Name__c}, 
IF(AND(VALUE(TEXT({!$Record.Number_of_Passengers__c}))&gt;=6, {!$Record.X6_Middle_Name__c}=null), {!$Record.X6_First_Name__c}+&apos; &apos;+{!$Record.X6_Last_Name__c}, null))</expression>
    </formulas>
    <interviewLabel>Registration Before Save Record Trigger FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Before Save Record Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>Registrations__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
