force-app/main/default/flows/Repeat_Email_for_TAG_Athlete_Opps_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Athlete_Day_13</name>
        <label>Email Athlete Day 13</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kZNl</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_TAG_Day_14</name>
        <label>Email TAG Day 14</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Zoom_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPQ000000kcFB</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Minus</name>
        <label>Minus</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysMinusOneCalculatorFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_6_of_Athlete</name>
        <label>Copy 6 of Athlete</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkUAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Athlete_Opp.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Athlete_Day_13</targetReference>
            </connector>
            <label>Copy 6 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_TAG</name>
        <label>Copy 6 of TAG</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000aRkZAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysMinusOneCalculatorFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TAG_Opp.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_TAG_Day_14</targetReference>
            </connector>
            <label>Copy 12 of True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>daysMinusOneCalculatorFormula</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!$Record.AddMinutesToDateFormula__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Repeat Email for TAG/Athlete Opps Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Repeat Email for TAG/Athlete Opps Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Athlete_Opp</name>
        <label>Get Athlete Opp</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_Athlete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TAG_Opp</name>
        <label>Get TAG Opp</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6_of_TAG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RepeatLastEmailDateTIme__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zoom_Date</name>
        <label>Update Zoom Date</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RepeatLastEmailDateTIme__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Minus</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012f4000000aRkjAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Webcode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RepeatLastEmailDateTIme__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Athlete_2_Days</name>
            <connector>
                <targetReference>Get_Athlete_Opp</targetReference>
            </connector>
            <label>Athlete 2 Days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>RepeatLastEmailDateTIme__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Tag_2_Days</name>
            <connector>
                <targetReference>Get_TAG_Opp</targetReference>
            </connector>
            <label>Tag 2 Days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>RepeatLastEmailDateTIme__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>athelteTemplateDay1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://ksaevents.my.salesforce.com/servlet/servlet.ImageServer?id=015f4000002Bq2D&amp;amp;oid=00Df4000003AdqV&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255); font-family: Arial;&quot;&gt;Registration is OPEN for&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255);&quot;&gt; {!$Record.Account.Name} &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 51, 255); font-family: Arial;&quot;&gt;{!$Record.KSASport_or_Performing_Art__c} Athletes and Fans!!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: arial; font-size: 16px;&quot;&gt;Thank you so much for joining us for the meeting last night!! We are so excited to host your {!$Record.Account.Name} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px;&quot;&gt;{!$Record.KSASport_or_Performing_Art__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: arial; font-size: 16px;&quot;&gt; Team in &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Destination__c}&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;!! My name is &lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-family: arial; font-size: 16px;&quot;&gt;Account_Manager__c} and &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;I will be the team&apos;s account manager and&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;your main point of contact for all of the travel arrangements and accommodations.&amp;nbsp;Should&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;you have any questions or need additional information, please reach out to me directly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial; color: rgb(255, 0, 0);&quot;&gt;As you heard, Coach has planned an exciting trip down to {!$Record.Destination__c} for the team! We hope you will join us!!&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial; color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);&quot;&gt;&lt;u&gt;We would like to have all Athletes and FAN Tagalongs registered in the next two weeks! &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;By registering as a Fan, you will receive the same trip inclusions as the players!&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt; I have included some information below to help get everyone started.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;The link below will take you to our Video page where you can see several videos of all of the exciting things the team and families will have a chance to participate in on your trip!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;a href=&quot;https://ksaevents.net/resource-videos/&quot; target=&quot;_blank&quot;&gt;
  &lt;img src=&quot;https://ksaevents.file.force.com/servlet/servlet.ImageServer?id=015PQ000000MY6H&amp;oid=00Df4000003AdqV&amp;lastMod=1701389475000&quot; alt=&quot;KSA Videos&quot; width=&quot;300&quot;&gt;
&lt;/a&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Player Registration Instructions:&lt;/strong&gt;&lt;span style=&quot;font-family: Arial; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; Please follow the steps below to complete your players’ registration online.&amp;nbsp;If you have any issues completing this, please feel free to contact me any time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 16px;&quot;&gt;Tag A-long Information:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 16px;&quot;&gt; Families are invited to join the team in Orlando as well!!&amp;nbsp;This is a wonderful opportunity to come cheer the team on AND make it a family vacation!&amp;nbsp;“Tag A-longs” are offered the same inclusions and pricing as the team — you essentially get to travel alongside the team!&amp;nbsp;Families will also have the opportunity to fly with the team!&amp;nbsp;To register your family for the trip, please follow the same steps as registering your athlete, but choose “Fan Reservation” and applicable room occupancy rate for number of people staying in your room.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt; background-color: rgb(255, 255, 0);&quot;&gt;An initial deposit of $400 per person is due for all Athletes and Fan Tagalongs&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please have yourself (and any other FAN Tagalongs) registered as soon as possible so that their spot is guaranteed&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 12pt;&quot;&gt;How do I register to participate?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;1. Click on the link to the site: &lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt;https://ksaevents.net/&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;2. Click on “Register” at the top of the page&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;3. Click on &lt;/span&gt;&lt;u style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Athlete Registration&lt;/u&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt; to register your athlete (&lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/register/athlete-registration/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial; font-size: 12pt;&quot;&gt;KSA Events | Athlete Registration&lt;/a&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;)&amp;nbsp;or &lt;/span&gt;&lt;u style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Fan Reservation&lt;/u&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt; to register friends &amp;amp; family (&lt;/span&gt;&lt;a href=&quot;https://ksaevents.net/register/fan-reservations/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial; font-size: 12pt;&quot;&gt;KSA Events | Fan Reservations&lt;/a&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;4. Fill out the registration. &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;**Webcode is {!$Record.GL_Webcode__c} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;5. Enter credit card information and deposit amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;6. Review Terms &amp;amp; Conditions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;7. Click “Register” Button&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;8. You are all set! You will receive an email confirmation within 24 hours with your receipt and invoice.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14.6667px; font-family: Arial; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;We hope you will join us to cheer on the team!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
